# IDE Caches
.vs/
.vscode/
.atom/

# OverEngine Binaries
/bin/
/bin-int/
/build*/





# MakeFiles
MakeFile

# Profiling files
OverEngineProfile-StartUp.json
OverEngineProfile-Runtime.json
OverEngineProfile-Shutdown.json


